@import "../../../../styles/variables/colors";

.how-technology-accesses-data{
  padding: 40px 0 60px;
  border-bottom:1px solid white;

  .permission-grid{
    margin-top: 40px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-item{
    display: inline-block;
    float:none;
    height:215px;
    vertical-align: top;
    margin-bottom: 40px;
  }

  .shareInfo{
    margin-top:40px;
  }
}