@import "../../../../styles/variables/colors";

.policy-intro{
  background-image:url("../../assets/buildings.jpg");
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $color2;
  color:white;
  position: relative;

  @media (min-width: 768px){
    min-height:350px;
  }

  a{
    color: white;
    text-decoration: underline;
  }

  .content{
    width: 100%;
    padding:1rem;

    @media (min-width: 768px){
      padding: 100px 5rem;
    }

    p{
      margin-top:2rem;
    }
  }

  .page-title{
    font-size: 6rem;
    margin: 0 auto;
    font-weight: bold;
  }

  .scroll-arrow{
    background: #50c5b7;
    border: 7px solid #fff;
    font-size: 7rem;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transform: translateY(70px);
    color: #fff;
    line-height: 90px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: 15px;

    &:hover{
      text-decoration: none;
    }
  }
}